.margin-none { margin: 0; }
.padding-none { padding: 0; }
.margin-top-none { margin-top: 0; }
.padding-top-none { padding-top: 0; }
.margin-right-none { margin-right: 0; }
.padding-right-none { padding-right: 0; }
.margin-bottom-none { margin-bottom: 0; }
.padding-bottom-none { padding-bottom: 0; }
.margin-left-none { margin-left: 0; }
.padding-left-none { padding-left: 0; }
.margin-xxs { margin: 0.125rem; }
.padding-xxs { padding: 0.125rem; }
.margin-top-xxs { margin-top: 0.125rem; }
.padding-top-xxs { padding-top: 0.125rem; }
.margin-right-xxs { margin-right: 0.125rem; }
.padding-right-xxs { padding-right: 0.125rem; }
.margin-bottom-xxs { margin-bottom: 0.125rem; }
.padding-bottom-xxs { padding-bottom: 0.125rem; }
.margin-left-xxs { margin-left: 0.125rem; }
.padding-left-xxs { padding-left: 0.125rem; }
.margin-xs { margin: 0.25rem; }
.padding-xs { padding: 0.25rem; }
.margin-top-xs { margin-top: 0.25rem; }
.padding-top-xs { padding-top: 0.25rem; }
.margin-right-xs { margin-right: 0.25rem; }
.padding-right-xs { padding-right: 0.25rem; }
.margin-bottom-xs { margin-bottom: 0.25rem; }
.padding-bottom-xs { padding-bottom: 0.25rem; }
.margin-left-xs { margin-left: 0.25rem; }
.padding-left-xs { padding-left: 0.25rem; }
.margin-sm { margin: 0.5rem; }
.padding-sm { padding: 0.5rem; }
.margin-top-sm { margin-top: 0.5rem; }
.padding-top-sm { padding-top: 0.5rem; }
.margin-right-sm { margin-right: 0.5rem; }
.padding-right-sm { padding-right: 0.5rem; }
.margin-bottom-sm { margin-bottom: 0.5rem; }
.padding-bottom-sm { padding-bottom: 0.5rem; }
.margin-left-sm { margin-left: 0.5rem; }
.padding-left-sm { padding-left: 0.5rem; }
.margin-md { margin: 1rem; }
.padding-md { padding: 1rem; }
.margin-top-md { margin-top: 1rem; }
.padding-top-md { padding-top: 1rem; }
.margin-right-md { margin-right: 1rem; }
.padding-right-md { padding-right: 1rem; }
.margin-bottom-md { margin-bottom: 1rem; }
.padding-bottom-md { padding-bottom: 1rem; }
.margin-left-md { margin-left: 1rem; }
.padding-left-md { padding-left: 1rem; }
.margin-lg { margin: 2rem; }
.padding-lg { padding: 2rem; }
.margin-top-lg { margin-top: 2rem; }
.padding-top-lg { padding-top: 2rem; }
.margin-right-lg { margin-right: 2rem; }
.padding-right-lg { padding-right: 2rem; }
.margin-bottom-lg { margin-bottom: 2rem; }
.padding-bottom-lg { padding-bottom: 2rem; }
.margin-left-lg { margin-left: 2rem; }
.padding-left-lg { padding-left: 2rem; }
.margin-xl { margin: 4rem; }
.padding-xl { padding: 4rem; }
.margin-top-xl { margin-top: 4rem; }
.padding-top-xl { padding-top: 4rem; }
.margin-right-xl { margin-right: 4rem; }
.padding-right-xl { padding-right: 4rem; }
.margin-bottom-xl { margin-bottom: 4rem; }
.padding-bottom-xl { padding-bottom: 4rem; }
.margin-left-xl { margin-left: 4rem; }
.padding-left-xl { padding-left: 4rem; }
.margin-xxl { margin: 8rem; }
.padding-xxl { padding: 8rem; }
.margin-top-xxl { margin-top: 8rem; }
.padding-top-xxl { padding-top: 8rem; }
.margin-right-xxl { margin-right: 8rem; }
.padding-right-xxl { padding-right: 8rem; }
.margin-bottom-xxl { margin-bottom: 8rem; }
.padding-bottom-xxl { padding-bottom: 8rem; }
.margin-left-xxl { margin-left: 8rem; }
.padding-left-xxl { padding-left: 8rem; }