<!DOCTYPE html>
<html>
	<head>
	<title>Edit {{item.name}}</title>
		{% include "head.html" %}
	</head>
	<body>
		{% include "header.html" %}
		<section class="section">
			<div class="container">
				<div class="columns">
					<div class="column is-one-third">
						<h1 class="title">Edit {{item.name}}</h1>
						<form action="{{ url_for('editItem',item_id=item.id)}}" method = 'post'>
							<div class="field">
								<label class="label">Name</label>
								<div class="control">
									<input class="input" type="text" name="updatedName" placeholder = "{{item.name}}" required>
								</div>
							</div>
							<div class="field">
								<label class="label">Description</label>
								<div class="control">
									<input class="input" type="text" name="updatedDescription" placeholder="{{item.description}}" required>
								</div>
							</div>
							<input class="button is-primary" type="submit" value="Update Item">
							<a class="button" href = "{{url_for('category', category_id = item.category_id)}}"> Cancel </a>
						</form>
					</div>
				</div>
			</div>
		</section>
	</body>
</html>